<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TheOne.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>272F5C6D1FA5FDFA004E45E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>272F5C811FA5FDFA004E45E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>272F5C8C1FA5FDFA004E45E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
